footer
  .container.text-left
    ul.float-right.list-inline.text-right
      li.list-inline-item
        a(href='https://github.com/kingsloi/community-airmonitor' target='_blank') I'm open source, create your own.
      li.list-inline-item.pl-3
        a(href='https://github.com/kingsloi/community-airmonitor/issues' target='_blank') Issues

  .container
    p.made-with-love
      | Made with
      i.fa.fa-heart.pulse
      |  in
      a(href='https://goo.gl/maps/Enx7PD4yEn6YhoF7A' target='_blank')  Gary
