.navbar.navbar-light.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-air-freshener.pr-1
      | Miller Beach / NWI Air Quality
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(slug === 'home') ? 'active' : undefined)
          a.nav-link(href='/') Now
        li.nav-item(class=(slug === 'past') ? 'active' : undefined)
          a.nav-link(href='/past') Past
        li.nav-item(class=(slug === 'history-and-updates') ? 'active' : undefined)
          a.nav-link(href='/history-and-updates') History &amp; Updates
