extends layout

block content
  .container
    .pb-2.mt-2.mb-4.border-bottom
      h1.h2 Graphs

  .container-fluid
    form(method='GET')
      .container
        .row
          .col-12
            graph
