extends layout

block content
  .container
    .pb-2.mt-2.mb-4.border-bottom
      h1.h2 History &amp; Updates

      p.lead Changes to the monitor, the data we store, scheduled downtime, updates, etc. are listed below.

      table.table
        thead
          tr
            th Date
            th Change
        tbody
          tr
            th 2019-10-11
            td 
              | a(href='https://github.com/kingsloi/community-airmonitor/commit/f1b38edcd50ecbc89c4a85791a304db30134ff2c#diff-9030a88ffb4a0007991f770d4d1feda6' target='_blank') Updated region boundries
              | to better match a(href='https://en.wikipedia.org/wiki/Northwest_Indiana' target='_blank') NWI.
          tr
            th 2019-10-11
            td Cleared data. Added Southshore train tracking.
          tr
            th 2019-10-10
            td Added site
