@import "themes/default/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "timeline";
@import "themes/default/_default";

$util-font-sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200;

@each $util-font-size in $util-font-sizes {
  .font-size-#{$util-font-size} {
    font-size: $util-font-size * 1% !important;
  }
}

@media (min-width: 1400px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

// Scaffolding
// -------------------------
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    margin-bottom: 100px;
    font-size: 14px;
}


footer {
    p, ul {
        margin-bottom: 0;
    }
}

// Input Fields
// -------------------------

textarea {
    resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
    width: 30px;
    min-height: 30px;
    margin: -15px 15px -15px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    display: block;
}

.navbar-brand {
    font-size: 18px;
    float: left;
    letter-spacing: -0.5px;
}

.navbar-toggler {
    position: relative;
    float: right;
    margin-bottom: 8px;
    margin-top: 8px;
}

.navbar-toggler-icon {
    font-size: 16px;
}

.dropdown-menu {
    left: initial;
    right: 0;
}

.nav-item.border-danger .active,
.nav-item.border-danger a:hover {
    background-color: $brand-danger;
    color: #fff !important;
}

// Vue Router
// -------------------------

.router-link-exact-active {
    @extend .active;
}

// https://github.com/twbs/bootstrap/issues/25654
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-expand-md > .container,
    .navbar-expand-lg > .container,
    .navbar-expand-xl > .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-expand-lg > .container,
    .navbar-expand-xl > .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-expand-xl > .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media only screen and (max-width: 1199px) {
  .xs-column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .data-container {
    min-height: 0px !important;
  }
}

// Alerts
// -------------------------

.alert {
    margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
    margin-right: 6px;
}

.fab {
    margin-right: 6px;
}

.fas {
    margin-right: 6px;
}

.far {
    margin-right: 6px;
}


// Misc
// -------------------------
//
.form-control::placeholder {
    @extend .text-dark;
}

.number--blurred {
    filter: blur(5px);

    &:after {
        content: "0";
    }
}

.text--blurred {
    filter: blur(5px);

    &:after {
        content: "LOADING";
    }
}

.highlighted {
    font-weight: bold;
    background-image: linear-gradient(
        transparent 0%,
        transparent calc(50% - 9px),
        rgba(77, 165, 244, 0.35) calc(50% - 9px),
        rgba(77, 165, 244, 0.35) 100%
    );
    background-size: 100% 190%;
    word-break: break-word;
    padding: 2px 0px 1px;
    transition: all 120ms ease-in-out 0s;
    background-position: 0px 0px;
}

.separator {
    display: block;
}

.site-heading {
    letter-spacing: -1px;
    @media (min-width: 991px) {
        letter-spacing: -3px;
    }

    h1 & {
        font-size: 2.5rem;
        line-height: 0.85;
        @media (min-width: 991px) {
            font-size: 3.5rem;

            line-height: 0.95;
        }
    }
    h2 & {
        font-size: 2.0rem;
        @media (min-width: 991px) {
            font-size: 3.0rem;

            line-height: 0.95;
        }
    }
}

.lead {
    .separator {
        padding: 0.25rem;
        display: block;
    }
}

.w-lg-50 {
    @include media-breakpoint-up(lg) {
        width: 50%;
    }
 }

.w-lg-75 {
    @include media-breakpoint-up(lg) {
        width: 75%;
    }
 }

 .metrics{
    .add {
        position: relative;
        padding-right: 15px;
        &:after{
            content: "+";
            position: absolute;
            right: 5px;
        }

        &:last-child {
            &:after{
                content: "";
                display: none;
            }
        }
    }
 }

// Map
// -------------------------

.map-container {
    &.map-container--has-mask {
        cursor: pointer;
        &:after{
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            content: ""
        }
    }
    #map {
        width: 100%;
        height: 600px;
    }
}


// AQI
// -------------------------
.aqi-card {
    @extend .card;

    img {
        width: 30px;
    }
}

.aqi {
    @extend .card;

    &--good {
        @extend .bg-success;

        @extend .text-white;
    }

    &--moderate {
        background-color: #FFDC00;

        @extend .text-dark;
    }

    &--unhealthy-sensitive {
        background-color: #FF851B;

        @extend .text-dark;
    }

    &--unhealthy {
        background-color: #FF4136;

        @extend .text-dark;
    }

    &--unhealthy-very {
        background-color: #85144b;

        @extend .text-white;
    }

    &--death {
        background-color: #111111;

        @extend .text-white;
    }

    &--unsure {
        background: rgba(#6F4E7C, 0.25);
    }
}

.aqi-stat {
    &--good {
        .aqi-stat__stat {
            color: $brand-success;
        }
    }

    &--moderate {
        .aqi-stat__stat {
            color: #FFDC00;
        }
    }

    &--unhealthy-sensitive {
        .aqi-stat__stat {
            color: #FF851B;
        }
    }

    &--unhealthy {
        .aqi-stat__stat {
            color: #FF4136;
        }
    }

    &--unhealthy-very {
        .aqi-stat__stat {
            color: #85144b;
        }
    }

    &--death {
        .aqi-stat__stat {
            color: #111111;
            text-shadow: 0px -2px 4px #fff,
                         0px -2px 5px #FF3,
                         0px -10px 10px #F90,
                        0px -20px 40px #C33;
        }
    }

    .icon {
        z-index: 8;
        float: right;
        height: 100%;

        i {
            color: rgba(20, 20, 20, 0.15);
            position: absolute;
            left: 0;
            left: auto;
            right: -10px;
            bottom: -10px;
            display: block;
        }
    }
}

.stat {
    > .row {
        &.condensed {
            padding-right: $spacer;
        }

        .col {
            margin-right: -$spacer;
        }
    }

    &--weather {
        .summary {
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
        }
    }

    &--advisories {
        li {
            &:last-child {
                .divider {
                    display: none !important;
                }
            }
        }
    }
}


// Dashboard item
// -------------------------
.card-item {
    tr {
        td {
            vertical-align: middle;

            &:first-child {
                p {
                    font-size: 0.9rem;
                    text-align: right;
                }
            }
        }
    }

    &--weather {
        tr {
            td {
                small {
                    font-size: 60% !important;
                    margin-left: 5px;
                    letter-spacing: -0.75px;
                }
            }
        }
    }

    &--industry {
        tr {
            td {
                small {
                    font-size: 80% !important;
                    margin-left: 5px;
                }
            }
        }
    }
}

// AQI
// -------------------------
#aqi-table {
     @include media-breakpoint-up(md) {
        width: 75%;
        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        width: 60%;
        margin: 0 auto;
    }

    table {
        tr {
            td {
                &:first-child {
                    // text-align: right;
                }
            }
        }
    }
}

// Highs
// -------------------------
#historical-highs {

    @include media-breakpoint-up(md) {
        width: 75%;
        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        width: 60%;
        margin: 0 auto;
    }

    .aqi-stat {
        &__stat {
            span {
                font-weight: bold;

                @extend .display-4;
                font-size: 2rem;
                @media (min-width: 768px) {
                    font-size: 3.5rem;
                }
            }
        }
    }
}

#report {
    blockquote {
        p {
            font-size: 1.33rem;
        }

        .blockquote-footer {
        &:before {
                content: '';
            }
        }
    }
}



// Build measurement-* classes for airquality chart
// -------------------------
@each $name, $value in $measurements {
    .#{$name} {
        .airquality-trend & {
            .stroke {
              stroke: $value;
              stroke-width: 2;
            }
            .fill {
              fill: $value;
              opacity: 0.05;
            }
            .point {
              fill: $value;
              stroke: $value;
            }
        }

        .tooltip & {
            &:before {
                background: $value;
            }
        }
    }
}


// About
// -------------------------
#about {
    margin: 7rem auto;
    .inner {
        @media (min-width: 992px) {
            width: 60%;
            margin: 0 auto;
        }
    }
    p {
        @extend .lead;
        &:first-child {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.support-us {
    ul {
        padding-left: 1.5rem;
    }
    li {
        margin-bottom: 0.5rem;
        line-height: 1.33;
    }
}

.sources {
    .source {
        &+&{
            margin-bottom: 1rem;
        }
        &__type {
            padding-right: 4px;
            text-transform: uppercase;

            @extend .small;

            @extend .d-block;

            @extend .d-md-inline;
        }
    }
}

.funded-by-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;

    @media (min-width: 768px) {
        padding-left: 3rem;
        text-align: left;
        list-style-type: circle;
    }
}

.partner-logo {
    &:hover {
        img {
            filter: grayscale(0%);
        }
    }

    img {
        filter: grayscale(100%);
        max-width: 150px;
    }
}

.footnotes {
    li {
        counter-increment: section;
        display: table-row;

        &::before {
            @extend .btn-link;

            content: "[" counter(section) "]";
            padding-right: 7.5px;
        }

        &::after {
            content: "";
            display: block;
            margin-top: 0.25rem;
        }
    }
}


// Footer
// -------------------------
#poweredby {
    @media (min-width: 1199px) {
        position: absolute;
        top: 335px;
        left: -250px;
        z-index: 1000;
        background: #fff;
        padding:0.5rem;
    }
}

.buy-coffee {
    font-weight: bold;
}

.made-with-love {
    padding-bottom: 0.5rem;
    color: #666;
    font-size: 12px;
    display: block;
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 50%;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    @media (min-width: 992px) {
        bottom: 10px;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .fa {
        color: #E90606;
        padding: 0 3px;
        margin: 0 4px;
        font-size: 10px;
        animation: pound 0.35s infinite alternate;
        -webkit-animation: pound 0.35s infinite alternate;
    }
}

@-webkit-keyframes pound {
    to {
        transform: scale(1.5);
    }
}

@keyframes pound {
    to {
        transform: scale(1.5);
    }
}
